<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
          {{#link-to 'index' tagName="a"}}<a class="navbar-brand" href>Task Checklist</a>{{/link-to}}
          <ul class="nav navbar-nav">
            {{#link-to 'index' tagName="li"}}<a href> Home</a>{{/link-to}}
            {{#link-to 'projects' tagName="li"}}<a href> Projects</a>{{/link-to}}
          </ul>
        </div>
    </div>
</nav>